.share-widget__add {
    padding: 16px 12px;
    max-height: 350px;
    overflow-y: scroll;
}

.share-widget__add-input {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    width: 100%;
}

.share-widget__add-input .share-widget__add-input__text {
    border: none;
    text-align: left;
    flex-grow: 1;
    border-radius: 6px 0 0 6px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
}

.share-widget__add-input button {
    background-color: #F9FAFB;
    padding: 10px 16px;
    color: #374151;
    border: none;
    border-left: 1px solid #E5E7EB;
    border-radius: 0 6px 6px 0;
}